
# direct deps
python-dotenv
pydantic>=2.10.4

microsoft-agents-hosting-core
microsoft-agents-hosting-aiohttp
microsoft-agents-authentication-msal
microsoft-agents-activity
openai
azure-identity

jsonref
opencensus-ext-azure
langgraph==0.2.74
langsmith
langchain-openai
langchain-community
langchain-experimental
ipython
websockets
azure-storage-blob
azure-mgmt-storage
jsonpickle
# azure-keyvault-secrets
# azure-mgmt-keyvault